---
layout: default
---
<div class="home">

  <ul class="category-filters" id="category-filters">
    <li>
      <a class="category-filter active" href="#">All</a>
    </li>
  {% for category in site.data.categories %}
    <li>
      <a class="category-filter" href="#{{ category }}">{{ category }}</a>
    </li>
  {% endfor %}
  </ul>

    <div class="post-list grid" id="grid-container">
      <div class="gutter-width"></div>
      {% for post in site.posts %}
        {% include post-teaser.html post=post %}
      {% endfor %}
    </div>

</div>
