{% assign post = include.post %}
<div class="panel panel-default grid-item category-{{ post.categories }}">
  <div class="post-content panel-body">
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <div class="post-meta">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
    </div>

    <div>
      {{ post.excerpt }}
    </div>

    <a class="panel-link" href="{{ post.url | prepend: site.baseurl }}"></a>
  </div>
</div>
